<div class="bg-zinc-50 dark:bg-gray-900">
  <article class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <div class="mb-8">
      <.link
        navigate={~p"/blog"}
        class="text-zinc-600 dark:text-zinc-400 hover:text-zinc-800 dark:hover:text-zinc-300 flex items-center gap-1 mb-6"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          />
        </svg>
        <span>All posts</span>
      </.link>

      <h1 class="text-4xl sm:text-5xl font-bold text-gray-900 dark:text-gray-100 tracking-tight mb-4">
        {@post.title}
      </h1>

      <div class="flex items-center text-gray-600 dark:text-gray-400 text-sm mb-6">
        <time class="mr-3">{@post.date}</time>
        <span class="mx-1">•</span>
        <span class="ml-3">by {@post.author}</span>
      </div>

      <div class="mb-8">
        <span class="text-sm text-gray-600 dark:text-gray-400">Tagged as </span>
        <div class="flex flex-wrap gap-2 mt-1">
          <%= for tag <- @post.tags do %>
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-zinc-100 text-zinc-800 dark:bg-zinc-700 dark:text-zinc-200">
              #{tag}
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="prose dark:prose-invert prose-lg max-w-none prose-img:rounded-lg prose-headings:font-semibold prose-a:text-zinc-600 dark:prose-a:text-zinc-400 hover:prose-a:text-zinc-800 dark:hover:prose-a:text-zinc-300 prose-blockquote:border-l-zinc-500">
      {raw(@post.body)}
    </div>
  </article>
</div>
